// 引入我们的混入函数
@import 'mixins/clear.less';
// 最外层的包裹元素
#wrapper{
    // 头部部分
    #header{
        // 上面部分的头部
        .headTop{
            background: #eaeaea;
            height: 30px;
            // 版心元素
            .headTopmain{
                width: 1200px;
                margin: 0 auto;// 居中的方法
                line-height: 30px;//把一整行都调到垂直居中的部分，因为父盒子也是30，我们把行高调成30就稳定居中了
                //overflow: hidden;//因为他的子元素都开启了浮动，所以他的高度会塌陷，加入overflow：hidden解决问题
                .clearfix();//另一种解决高度塌陷的方法，并且使用了函数封装混入
                // 左
                .headTopmainleft{
                    
                    h5{
                        float: left;
                        color: black;
                        margin-right: 5px;//使得他和两个a标签的距离拉开
                    }
                    div{
                        a{
                            float: left;
                            &:first-child{
                                //仔细分析下面三个属性，细线是用右边框画出来的，线与左边文字的内容是依靠padding来控制的，与右边下一个元素的文字距离是依靠margin来控制的，这是标准盒模型的写法
                                padding-right: 5px;
                                border-right: 1px solid #b3aeab;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                // 右
                .headTopmainright{
                    float: right;
                    nav{
                        // 为了去掉a元素之间的小空隙，因为是行内元素，所以他会产生字体间距
                        font-size: 0;
                        a{
                            font-size: 12px;
                            margin-right: 10px;
                            border-right: 1px solid #b3aeab;
                            padding-right: 11px;
                            // 把最后的那个链接之后的细线去掉
                            &:last-child{
                                border: none;
                                margin-left: 0;
                                padding-left: 0;
                            }
                        }
                    }

                }
            }
        }
        .headBottom{
            .headBottommain{
                width: 1200px;
                // 版心如何定位到心（中间），利用我们整体页面设置的版心宽度，然后使其margin左右为auto
                margin: 0 auto;
                .clearfix();
                .logo{
                    float: left;
                    a{
                        img{
                            width: 175px;
                            height: 56px;
                            margin: 25px 45px;
                        }
                    }
                }
                .search{
                    float: right;
                    margin-top: 35px;
                    input{
                        // 搜索框
                        &:first-child{
                            float: left;
                            box-sizing: border-box;
                            width: 490px;
                            height: 32px;
                            padding: 0px 4px;
                            border: 3px solid #ea4a36;
                        }
                        // 提交按钮
                        &:last-child{
                            width: 68px;
                            height: 32px;
                            color: #fff;
                            background-color: #ea4a36;
                            //不知道为啥产生了黑色边框，使用boder none去掉
                            border: none;
                        }
                        // 修饰提示词的颜色
                        &::-webkit-input-placeholder{
                            color: yellowgreen;
                        }

                    }
                }
            }
        }
    }
    #navWrap{
        border-bottom: 2px solid #e1251b;
        .navWrapmain{
            width: 1200px;
            margin: 0 auto;
            .clearfix();//解决塌陷
            a{
                float: left;
                margin: 0 22px;
                font-size: 16px;
                color: #333;
                line-height: 50px;
                &:first-child{//单独对“全部商品分类”进行设置
                    float: left;
                    height: 50px;
                    width: 210px;
                    background-color:#e1251b ;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 50px;
                }


            }
        }
    }
    #content{
        
        .contentmain{
            width: 1200px;
            margin: 15px auto 0px auto;
            .nvapath{
                padding:  9px 15px 9px 0;
                font-size: 0;// 为了消除行标签之间的小间隙，先把父元素的字体大小设为0，再将所有的元素字体大小设回去
                a{
                    font-size: 12px;
                }
                i{
                    padding: 0 5px;
                    font-size: 12px;
                }
            }
        }
    }
}